# Day objectives
. python data structures
. lists
. tuples
. dictionaries
. basic program sets on data structures
. advanced problem set
contact application(dictionary object)

Data structures:
. To store, search and sort the data

### Python data structures
### Lists
- Its one of common data structures supports by python , the lists items are seperated by coma operator and enclosed in square brackets
. Example:
. list1=[1,6,2,18,9]
. list2=["gitam",10,12,15,5,"hyderabad"]

In [1]:
lst=[1,8,16,9,2]
print(lst)
print(lst[0])
print(lst[1])
print(lst[-1])
print(lst[-2])
print(lst[1:])
print(lst[1:4])

[1, 8, 16, 9, 2]
1
8
2
9
[8, 16, 9, 2]
[8, 16, 9]

In [2]:
lst=["Gitam","Python",1989,2002]
print(lst)
lst[2]=2019
print(lst)

['Gitam', 'Python', 1989, 2002]
['Gitam', 'Python', 2019, 2002]

In [3]:
# delete the specific item in the list

print(lst)
del lst[2]
print(lst)

['Gitam', 'Python', 2019, 2002]
['Gitam', 'Python', 2002]

In [6]:
# basic list operations

lst1=[1,9,6,18,2]
print(len(lst1))
print(lst1*2)
print(len(lst1))
print(9 in lst1)
print(15 in lst1)

for x in range(len(lst1)):
    print(lst1[x],end="  ")

5
[1, 9, 6, 18, 2, 1, 9, 6, 18, 2]
5
True
False
1  9  6  18  2

In [18]:
# function of the list 

lst1
print(min(lst1))
print(max(lst1))
print(sum(lst1))
print(sum(lst1)//len(lst1))
print(sum(lst1[1::2])/len(lst1[1::2]))

1
18
36
7
13.5

In [19]:
lst1[1::2]

[9, 18]

In [2]:
lst1=[1,9,6,18,2]
lst1
lst1.append(24)
lst1
lst1.insert(2,56)
lst1
lst1.count(18)
lst1.index(56)
lst1.sort()
lst1
lst1.pop()
lst1
lst1.pop(1)
lst1
lst2=[123,23,45]
lst1.extend(lst2)
lst1
lst1.reverse()
lst1.remove(123)
lst1

[45, 23, 24, 18, 9, 6, 1]

In [3]:
lst1

[45, 23, 24, 18, 9, 6, 1]

In [4]:
lst=[1,9,8,2,6,3]
print(lst[-1::-2])

[3, 2, 9]

In [6]:
lst1

[45, 23, 24, 18, 9, 6, 1]

In [13]:
# function to find the second large item from the list

def secondlarge(li):
    li.sort()
    return li[-2]
def genericlarge(li,n):
    li.sort()
    return li[-n]
li=[1,19,6,2,8,18,3]
genericlarge(li,4)

6

In [11]:
li=[1,9,8,2,6,3]
print(li[-1:2:-2])

[3, 2]

In [4]:
# function to find the least item from the list

def secondleast(li):
    li.sort()
    return li[1]
def genericleast(li,n):
    li.sort()
    return li[n-1]
li=[1,19,6,2,8,18,3]
genericleast(li,4)

6

In [5]:
def linearsearch2(li,taritem):
    for x in range(len(li)):
        if li[x]==taritem:
            print(x,end="  ")
    return
li=[1,5,9,6,5,15,1,2,5]
linearsearch2(li,5)

1  4  8

In [6]:
def linearsearch(li,taritem):
    for x in range(len(li)):
        if li[x]==taritem:
            return x
        return -1
li=[1,19,6,2,8,18,3]
linearsearch(li,225)

-1

In [7]:
def linearsearch3(li,taritem):
    for x in range(len(li)):
        if li[x]==taritem:
            j=0
            while j!=x+1:
                print("!",end="  ")
                j=j+1
                print(end="  ")
    return
li=[1,5,9,6,5,15,1,2,5]
linearsearch3(li,5)

!    !    !    !    !    !    !    !    !    !    !    !    !    !    !    !

In [9]:
def linearsearch4(li):
    sum=0
    for x in range(len(li)):
        if li[x]%3==0 and li[x]%5==0:
            sum+=li[x]
    return sum
li=[12,2,45,9,18,15,36]
linearsearch4(li)

60

# 1.print first and last as it is because first number does not have previous and last does not have next number.

# 2.need to multiply the previous and next number.

In [10]:
# function

def linearsearch5(li):
    for x in range(len(li)):
        if x==0 or x==len(li)-1:
            print(li[x],end="  ")
        else:
            print(li[x-1]*li[x+1],end="  ")
    return
li=[1,2,3,4,5]
linearsearch5(li)

1  3  8  15  5

In [3]:
def linearsearch6(li):
    for x in range(len(li)):
        if x==0 or x==len(li)-1:
            print(li[x],end="  ")
        elif li[x-1]%2==0 and li[x+1]%2==0:
            print(li[x],end="  ")
    return
li=[1,6,9,4,16,19,22]
linearsearch6(li)

1  9  19  22

### Number to List
. Input as number

. Expected output will be list

In [6]:
# function for converstion - Number to list

def numberlistconversion(n):
    li=[]
    while n!=0:
        r=n%10
        li.append(r)
        n=n//10
    li.reverse()
    return li
numberlistconversion(14569)

[1, 4, 5, 6, 9]

In [12]:
# function to count the occurances of a character in a string

def countcharoccurances(s,c):
    cnt=0
    for ch in s:
        if ch==c:
            cnt+=1
    return cnt
def countcharoccurances1(s,c):
    return s.count(c)
countcharoccurances("Python Programming",'m')

2

# String to list conversion

. input will be string

. expected output will be list

In [16]:
# function to convert the string to list

def stringtolistconversion(s):
    li=s.split()
    numberslist=[]
    for i in li:
        numberslist.append(int(i))
    return numberslist
s="1 2 3 4 5 6"
stringtolistconversion(s)

[1, 2, 3, 4, 5, 6]

### sorting Algorithms:
 
. All the sorting algorithms makes the list into ascending order

. Bubble sort

. Selection sort

. Insertion sort

### Bubble sort:

. this algorithm compares the adj elements , if the first element is greater

. than second element

In [20]:
# function to represent the bubble sort

def bubblesort(li):
    for i in range(len(li)-1):
        for j in range(len(li)-1):
            if li[j]>li[j+1]:
                li[j],li[j+1]=li[j+1],li[j]
    return li
li=[19,1,25,6,18,3]
bubblesort(li)

[1, 3, 6, 18, 19, 25]