### Tuples

- t1 paranthesis() li square brackets[]
- Difference between list and tuples
    - list are mutable-can be changed/modified
    . used to access modify,add,delete data
    - tuples are immutable-cannot be changed
    . used to access data only

In [32]:
t1=(1,2,3,4,5,6)
t1
type(t1)

tuple

# Data structures

. Dictionaries

# Dictionaries

. It works on the concept of set of unique data

. key,values is the unique identifier for a value

. each key is seperated from its value with colon(:)

. each key and value is seperated by coma(,)

. dictionaries enclosed with curly brackets(})

In [33]:
d1={"Name":"Gitam","Emailid":"gitam@gmail.com","Address":"Hyderabad"}
print(d1)

{'Name': 'Gitam', 'Emailid': 'gitam@gmail.com', 'Address': 'Hyderabad'}

In [34]:
d1["Name"]

'Gitam'

In [35]:
d1["Emailid"]="Gitam-Python@gmail.com"

In [36]:
d1['Emailid']

'Gitam-Python@gmail.com'

In [37]:
del d1['Emailid']

In [38]:
d1

{'Name': 'Gitam', 'Address': 'Hyderabad'}

In [39]:
d1.keys()

dict_keys(['Name', 'Address'])

In [43]:
d1.values()

dict_values(['Gitam', 'Hyderabad'])

In [44]:
d1.items()

dict_items([('Name', 'Gitam'), ('Address', 'Hyderabad')])

### Contact Application

- Add contact 
- Search the contact 
- List all contacts
   - name1:phone1
   - name2:phone2
- Modify the contact
- Remove the contact
- Import the contact

In [26]:
# Add contact

contacts={}
def addcontact(name,phone):
    if name not in contacts:
        contacts[name]=phone
        print("contact details are added")
    else:
        print("contact details are already exists")
    return
addcontact('Anil','9876543210')
addcontact('Naveen','9966552211')
addcontact('Anil','9876543210')

contact details are added
contact details are added
contact details are already exists

In [27]:
contacts

{'Anil': '9876543210', 'Naveen': '9966552211'}

In [28]:
# search for contact details

def searchcontact(name):
    if name in contacts:
        print(name," : ",contacts[name])
    else:
        print("%s does not exists"% name)
    return
searchcontact('Anil')
searchcontact('Harsha')
searchcontact('Naveen')

Anil  :  9876543210
Harsha does not exists
Naveen  :  9966552211

In [29]:
# import some contacts
# merge the contact with existing one

def importcontact(newcontacts):
    contacts.update(newcontacts)
    print(len(newcontacts.keys()),"contacts added successfully")
    return
newcontacts={'Dinesh':9988774455,'Ajay':9977445566}
importcontact(newcontacts)

2 contacts added successfully

In [30]:
contacts

{'Anil': '9876543210',
 'Naveen': '9966552211',
 'Dinesh': 9988774455,
 'Ajay': 9977445566}

In [31]:
# Delete a contact

def deletecontact(name):
    if name in contacts:
        del contacts[name]
        print(name,"deleted successfully")
    else:
        print(name,"not exists")
    return
deletecontact('Ajay')

Ajay deleted successfully

In [32]:
contacts

{'Anil': '9876543210', 'Naveen': '9966552211', 'Dinesh': 9988774455}

In [33]:
# update the contact details

def deletecontact(name,phone):
    if name in contacts:
        contacts[name]=phone
        print(name,"updated successfully")
    else:
        print(name,"not exists")
    return
deletecontact('Anil',9988774455)
deletecontact('Ajay',9988665544)

Anil updated successfully
Ajay not exists

In [17]:
# assignment-4

s1="good morning"
a="good"
b="morning"
if len(a)>=len(b):
    print("good")
else:
    print("morning")

morning

In [18]:
# assignment-13

def series(n):
    m=2
    for i in range(n):
        r=13*i+m
        print(r,end=" ")
        m=r
    return
series(10)

2 15 41 80 132 197 275 366 470 587

In [19]:
# assignment-1

def reverseFibonacci(n): 
  
    a=[0] * n    
    a[0] = 0 
    a[1] = 1

    for i in range(2,n):   
 
       # storing sum in the 
       # preceding location 
        a[i] = a[i - 2] + a[i - 1]  
      
 
    for i in range(n - 1, -1 , -1):   
 
       # printing array in 
       # reverse order 
        print(a[i],end=" ")  
      
  # Driver function 
n = 5 
reverseFibonacci(5)

3 2 1 1 0

In [20]:
# assignment-11

def twopow(n):
    
    for i in range(n):
        k=2**i
        print(k)
    return
twopow(10)

1
2
4
8
16
32
64
128
256
512

In [21]:
# assignment-10

def threepow(n):
    for i in range(n):
        k=3**i
        print(k)
    return
threepow(15)

1
3
9
27
81
243
729
2187
6561
19683
59049
177147
531441
1594323
4782969

In [22]:
# assignment-12


def generateseries(n): 
    a=1
    b=3
    c=4
    print(a)
    print(b)
    for i in range(n):
        sum=a+b+c
        a=b
        b=c
        c=sum
        print(sum)
    return
generateseries(10)

1
3
8
15
27
50
92
169
311
572
1052
1935

In [24]:
# assignment-14

def series(n):
    m=2
    for i in range(n):
        r=13*i+m
        print(r,end=" ")
        m=r
    return
series(10)
 #1! + 2! + 3! + 4! + 5! + ... + n!
n=int(input("enter n value  "))
for x in range(1,n):
    print(x,"!+",end=" ")

2 15 41 80 132 197 275 366 470 587 enter n value  24
1 !+ 2 !+ 3 !+ 4 !+ 5 !+ 6 !+ 7 !+ 8 !+ 9 !+ 10 !+ 11 !+ 12 !+ 13 !+ 14 !+ 15 !+ 16 !+ 17 !+ 18 !+ 19 !+ 20 !+ 21 !+ 22 !+ 23 !+

# Class

In [25]:
# classical version

li=["python","programming"]
print("%s %s"% (li[0],li[1]))

python programming

In [26]:
print("{0} {1}".format(li[0],li[1]))

python programming

In [27]:
li1=[1,2,3,4]
print("%d %d %d %d"% (li1[0],li1[1],li1[2],li1[3]))

1 2 3 4

In [28]:
print("{0} {1} {2} {3}".format(li1[0],li1[1],li1[2],li1[3]))

1 2 3 4

# String Functions

. upper()-will converts the given string into upper case

. lower()-will converts the given string into lower case

In [29]:
s1='gitam'
print(s1.upper())
print(s1.lower())

GITAM
gitam

## Boolean function(true and false)

. islower()-true if the string is lower case/false if the string is not in the lower case 

. isupper()-true if the string is upper case/false if the string is not in the upper case

. istitle()-true if the string follows title case / false

. isalpha()-true if the string follows title case / false

. isnumeric()-true if the string contains only numbers / false

. isspace()-true if the string contains only space / false

In [30]:
s1='GITAM'
print(s1.islower())
print(s1.isupper())

False
True

In [31]:
s2="Python Programming"
s3="python programming"
print(s2.istitle())
print(s3.istitle())

True
False

In [32]:
s2="Application1889"
s3="PythonProgramming"
print(s2.isalpha())
print(s3.isalpha())

False
True

In [33]:
s1="1234"
s2="Application1234"
print(s1.isnumeric())
print(s2.isnumeric())

True
False

In [34]:
s1="  "
s2="py th on"
print(s1.isspace())
print(s2.isspace())

True
False

### String methods

1. join()--method will concatinates the two strings

2. split()--split() returns the list of strings seperated by whitespace (parameters are given) 

3. replace()--replaces the specific word/character with a new word / character

In [35]:
s1='Python'
print("  ".join(s1))

P  y  t  h  o  n

In [36]:
s2="Python Progromming Easy To Learn"
print("  ".join(s2))

P  y  t  h  o  n     P  r  o  g  r  o  m  m  i  n  g     E  a  s  y     T  o     L  e  a  r  n

In [37]:
li=['python','programming','learn']
print(" , ".join(li))

python , programming , learn

In [38]:
s2="Python Programming Easy To Learn"
print(s2.split())

['Python', 'Programming', 'Easy', 'To', 'Learn']

In [39]:
s2="Python Programming Easy To Learn"
print(s2.split('a'))

['Python Progr', 'mming E', 'sy To Le', 'rn']

In [40]:
s2="Python Programming Easy To Learn"
li=s2.split()
print(li)
print(len(li))

['Python', 'Programming', 'Easy', 'To', 'Learn']
5

In [41]:
s2="Python Programming Easy To Learn"
li=list(s2)
print(li)

['P', 'y', 't', 'h', 'o', 'n', ' ', 'P', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g', ' ', 'E', 'a', 's', 'y', ' ', 'T', 'o', ' ', 'L', 'e', 'a', 'r', 'n']

In [42]:
s2="Python Programming Easy To Learn"
print(s2.replace("gra","Application"))

Python ProApplicationmming Easy To Learn

In [43]:
# import the externals packages to python files

import math
math.floor(123.45)

123

In [44]:
from math import factorial as fact
fact(5)

120

In [5]:
# function to generate N random numbers in given range

import random
def randomNnumbers(n,lb,ub):
    for i in range(0,n):
        print(random.randint(lb,ub),end="  ")
    return
randomNnumbers(10,0,100)

93  19  40  26  17  99  31  35  71  34

In [6]:
# create a simple game
# generate 20 random numbers 0 to 500

def generatenumbers(lb,ub):
    li=[]
    for i in range(0,n):
        li.append(random.radiant(lb,ub))
    return li
def check(n):
    if n in li:
        return "congrates!!!"

    else:
        return "Try once again!!!"
    return
li=[1,10,20]
check(15)

'Try once again!!!'