In [3]:
def  printeven(n):
    cnt=0;
    sum=0;
    while(cnt!=n):
        if(cnt%2==0):
            sum=sum+cnt;
        cnt=cnt+1;
    return sum;     
print(printeven(20));

90

In [6]:
def factors(n):
    i=1;
    while(i!=n):
        if(n%i==0):
            print(i);
        i=i+1;
    return;
factors(376);

1
2
4
8
47
94
188

In [11]:
list1=[1,2,3,4,5];
print(list1);
print(list1[0])

[1, 2, 3, 4, 5]
1

In [13]:
list2=["surya","nikhil","rakesh"];
for x in (list2):
 print(x,end=" ")

surya nikhil rakesh

In [19]:
list2=["surya","nikhil","rakesh",1,2,3,4,5,6];
for x in (list2):
 print(x,end=" ") 


print();
print(list2[2])
print(list2[1:8])
print(list2[:5])
print(list2[:9])

surya nikhil rakesh 1 2 3 4 5 6
rakesh
['nikhil', 'rakesh', 1, 2, 3, 4, 5]
['surya', 'nikhil', 'rakesh', 1, 2]
['surya', 'nikhil', 'rakesh', 1, 2, 3, 4, 5, 6]

In [47]:
list1=[1,2,3,4,5,6,7,8,9,10];
for x in list1:
     print(x,end=" ")
print();
print(list1[2:-2])
print(list1[3:-3]);
print(list1[10:-10])
print(list1[::2])
print(list1[::4])
print(list1[::-3])

1 2 3 4 5 6 7 8 9 10
[3, 4, 5, 6, 7, 8]
[4, 5, 6, 7]
[]
[1, 3, 5, 7, 9]
[1, 5, 9]
[10, 7, 4, 1]

In [38]:
list2=["surya","nikhil","rakesh"];
print(list2)

list2[1]="nikki";
print(list2)
del  list2[0]
print(list2)
list3=[1,2,3,4,5,6,7,8,9];
print(list3);
print(list2+list3);
print(len(list3))
list2.append(135781141);
print(list2)
print(len(list2+list3))

['surya', 'nikhil', 'rakesh']
['surya', 'nikki', 'rakesh']
['nikki', 'rakesh']
[1, 2, 3, 4, 5, 6, 7, 8, 9]
['nikki', 'rakesh', 1, 2, 3, 4, 5, 6, 7, 8, 9]
9
['nikki', 'rakesh', 135781141]
12

In [106]:
list1=["gitam","gitam","Python",1,2,3,4,5,6]
print(list1)
list1.index("gitam")
list1.index(1)
list1.insert(5,135781141)
print(list1)
list1.pop(5)
print(list1)
list1.remove("Python")
print(list1)
list1.reverse()
print(list1)
x=list1[6]
print(x)
print  (x[::-1])

['gitam', 'gitam', 'Python', 1, 2, 3, 4, 5, 6]
['gitam', 'gitam', 'Python', 1, 2, 135781141, 3, 4, 5, 6]
['gitam', 'gitam', 'Python', 1, 2, 3, 4, 5, 6]
['gitam', 'gitam', 1, 2, 3, 4, 5, 6]
[6, 5, 4, 3, 2, 1, 'gitam', 'gitam']
gitam
matig